<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DnD_Archive</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dnd_archive_styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/start.css" asp-append-version="true">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light shadow-sm mb-4 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Start")">DnD Archive</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Start")">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Registrieren", "Start")">Registrieren</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-top: 80px;"> <!-- Hinzugefügter Abstand -->
        <main role="main" class="py-4">
            @RenderBody()
        </main>
    </div>
    <footer class="footer bg-light text-center text-muted py-3 mt-4">
        <div class="container">
            &copy; 2024 - DnD_Archive - <a href="@Url.Action("Privacy", "Home")">Privacy Policy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
    